<template name="home">
  <section id="login">
    {{loginError}}
    <div class="row">
      <div class="col-md-12">
        <h1>Login</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <form class="login-form">
          <input type="text" name="username" placeholder="username ..." id="username">
          <input type="password" name="password" placeholder="password ..." id="password">
          <input type="submit">
        </form>
      </div>
    </div>
  </section>
</template>
